<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoリスト</title>
</head>

<body>
    <h1>Todoリスト管理表</h1>
    <form action="/create" method="post">
        <h2>todo入力フォーム</h2>
        <label for="name">やることの名前</label>
        <input type="text" id="name" name="name">
        <label for="text">やることの内容</label>
        <input type="text" id="text" name="text">

        <select name="color">
            <option value="red">赤</option>
            <option value="white">白</option>
            <option value="black">黒</option>
            <option value="green">緑</option>
        </select>
        <input type="submit" value="作成">
    </form>

    <h2>タスク名</h2>
    <ul>
        <% lists.map((list) => { %>
            <% if (list.done === 0){ %>
                <li><%= list.name %> <%= list.text %></li>
                <!-- 編集ボタン -->
                <form action="/edit/<%= list.id %>" method="get">
                    <input type="submit" value="編集">
                </form>
                <!-- 完了ボタン -->
                <form action="/complete/<%= list.id %>" method="post">
                    <input type="hidden" name="_method" value="put"> <!-- 設定だけ -->
                    <input type="submit" value="完了">
                </form>
            <% } %>
        <% }) %>
    </ul>

    <h2>終わったこと</h2>
    <ul>
        <li>
            <% lists.map((list) => { %>
            <% if(list.done === 1){ %>
            <p><%= list.name %> </p>
            <p><%= list.text %> </p>
            <%} %>
            <% }) %>

        </li>
    </ul>

</body>

</html>