<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoリスト</title>
</head>
<body>
    <h1>Todoリスト管理表</h1>
    <form action="/create" method="post">
        <h2>todo入力フォーム</h2>
        <label for="name">やることの名前</label>
        <input type="text" name="todoContent">
        <input type="submit" value="作成">
    </form>

    <h2>タスク名</h2>
    <ul>
        <% notDoneTodos.map((todo) => { %>
             <li><%= todo.id %> <%= todo.content %></li>
            <!-- 編集ボタン -->
            <form action="/edit/<%= todo.id %>" method="get">
                <input type="submit" value="編集">
            </form>

            <!-- 削除ボタン -->
            <form action="/complete/<%= todo.id %>" method="post">
                <input type="hidden" name="_method" value="put"> <!-- 設定だけ -->
                <input type="submit" value="完了">
            </form>
        <% }) %>
    </ul>

    <h2>終わったこと</h2>
    <ul>
        <% doneTodos.map((todo) => { %>
            <li><%= todo.id %> <%= todo.content %></li>
        <% }) %>
    </ul>
</body>
</html>